/* Page styles
================================= */
body {
    background-color: white;
}

#Stunde0 {
    background-color: yellow;
}

.title-box{
    display: flex;
    width: 850px;
    height: 20px;
    flex-direction: row-reverse;
    /*text-align: right;              /* alings dont work anywhere! */
    /*align-content: flex-end;*/
    background-color: aqua;    
}

#signout {
    display: flex;
    background-color: aquamarine;
    width: 10%;
    align-self: flex-end;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightslategray;
    height: 350px;
    width: 1050px;
}
/* Stylesheet*/

/*col*/
.col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*.col-1-of-2{
    width: 50%;
}
.col-2-of-4{
    width: 50%;
}*/

/* rows (are basically cells!) */
.row{
    display: flex;    
    flex-direction: row;
    justify-content: flex-start;        
}

.menuitem{
    display: flex;
    flex-direction:column;
    width: 10%;
}

.margin-tb{
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-lr{
    margin-left: 32px;
    margin-right: 32px;
    width: calc(100%-64px);
}

.textstyle{
    text-decoration: overline;
}
/*helper classes 
================*/
.col.mark{    
    background-color: none;
    width: 11%;
    margin-left: 10px;
    font-family: sans-serif;
    text-align: center;/*    border: 1px dashed #ccc;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.col.mark:hover{
    border: 1px dotted black;
    background-color: lightgrey;
}

.row.mark{
/*    border: 1px dashed #00C; */
    background-color: white;
    font-size: 12;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    /*padding-top: 10px*/
}
/*Why does align right only work for the php date??*/

/* ###################*/
.row.mark:onclick{
    background-color: black;
}
/*####################*/

.row.mark:hover{
    border: 2px solid black;
    background-color: lightsteelblue;   /* Javascript overrules this apparently*/
}

.menuitem.mark{
    background-color: black;
}
.menuitem.mark:hover{
    background-color: green;
}